<script lang="ts" setup>
import { useUserStore } from "@/stores/user";
import UserDialog from "./UserDialog.vue";
import { onMounted } from "vue";
import ChekDialogUser from "./ChekDialogUser.vue";

const userStore = useUserStore();
onMounted(async () => {
  await userStore.getUsers();
});
</script>

<template>
  <ChekDialogUser></ChekDialogUser>
  <UserDialog></UserDialog>
  <v-btn @click="userStore.dialog = true" class="mr-5">Add New</v-btn>
  <v-table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Name</th>
        <th>Password</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item of userStore.users" :key="item.id">
        <td>{{ item.id }}</td>
        <td>{{ item.login }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.password }}</td>

        <td>
          <v-btn class="mr-5" @click="userStore.editUser(item)">Edit</v-btn>
          <v-btn
            class="mr-5"
            @click="
              (userStore.deleteDialog = true),
                (userStore.checkDialog = item.id!)
            "
          >
            Delete
          </v-btn>
        </td>
      </tr>
    </tbody>
  </v-table>
</template>
